[submodule "agent-catalog"]
	path = agent-catalog
	url = https://github.com/couchbaselabs/agent-catalog.git
[submodule "couchbase-infrastructure"]
	path = couchbase-infrastructure
	url = git@github.com:couchbaselabs/couchbase-infrastructure.git
